{% extends "_core_centered.html" %}

{% block title %}
<title>Army: {{ f.name }} / {{ d.name }}</title>
<link id="mainstyle" href="/assets/style/faction/{{ d.color }}.css" rel="stylesheet">
{% endblock %}

{% block pagecontent %}
<div class="px-2 px-sm-0">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ f.permalink }}">{{ f.name }}</a></li>
      <li class="breadcrumb-item"><a href="{{ d.permalink }}">{{ d.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Army List</li>
    </ol>
  </nav>


  <h1 class="small-caps">{{ f.name }}</h1>
  <h2 class="small-caps">{{ d.name }}</h2>

  {% filter numbered_markdown %}

  # Table of Contents
<ul>
<li><a href="#{{ f.name | snake }}_faction_rules">Faction Rules</a></li>
<li><a href="#{{ 'detachment:_'+d.name | snake }}">Detachment Rules</a></li>
<li><a href="#strategems">Strategems</a></li>
{% if d.spells %}
<li><a href="#spells">Spells</a></li>
{% endif %}
{% for upgrade in d.upgrades if session.get('qty_'+upgrade.faction.id+'_'+upgrade.id, 0) %}
{% if loop.first %}
<li><a href="#upgrades">Upgrades</a></li>
{% endif %}
{% endfor %}
{% for u in units %}
<li><a href="#{{ u.id }}">{{ u.name }}{{ ' ('+u.subtitle+')' if u.subtitle else '' }}</a></li>
{% endfor %}
</ul>

  {% include "elements/detachment_rules.html" %}

  {% for upgrade in d.upgrades if session.get('qty_'+upgrade.faction.id+'_'+upgrade.id, 0) %}
  {% if loop.first %}
  # Upgrades
  {% endif %}
  ## {{ upgrade.name }}
  {{ upgrade.text }}
  {% endfor %}

  {% endfilter %}
  
</div>

{% for u in units %}
{% include "elements/unit_datacard.html" %}
{% endfor %}

{% endblock %}
