{% extends "_core_centered.html" %}

{% block title %}
<title>{{ u.display_name }}</title>
<link href="/assets/style/faction/{{ d.color if d else f.color }}.css" rel="preload" as="style">
<link href="/assets/style/faction/{{ d.color_dark if d else f.color_dark }}.css" rel="preload" as="style">
<link id="lightstyle" href="/assets/style/faction/{{ d.color if d else f.color}}.css" rel="stylesheet" {% if session.get('darkmode')%}disabled{% endif %}">
<link id="darkstyle" href="/assets/style/faction/{{ d.color_dark if d else f.color_dark}}.css" rel="stylesheet" {% if not session.get('darkmode')%}disabled{% endif %}">
{% endblock %}

{% block pagecontent %}

<div class="row g-0">
  <div class="col px-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ u.faction.permalink }}">{{ u.faction.name }}</a></li>
        {% if d %}
        <li class="breadcrumb-item"><a href="{{ d.permalink }}">{{ d.name }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ u.name }}</li>
      </ol>
    </nav>
  </div>
</div>

{% include "elements/unit_datacard.html" %}

{% endblock %}